---
import Calendar from '../components/Calendar.astro';
---


<div class="h-screen w-screen bg-white grid place-items-center">
	<div class="flex flex-col space-y-2">
		<div class="flex flex-row space-x-3">
			<h1 class="text-2xl font-semibold text-black">Life Calendar</h1>
		</div>
		<Calendar />
	</div>

</div>
